<!DOCTYPE html>
<html>
  <head>
    <title>GAMEVIEWS</title>    

    <%- include('modules/headlink.ejs') %>
    
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/gameLists.css" />

  </head>
  <body>
    <%- include('modules/header.ejs') %>

    <main>

      <section class="section-users tomorrow-regular">
        <h2 class="text-center bg-dark bg-gradient p-4">TODOS LOS JUEGOS PUBLICADOS</h2>      
        <div class="back-game d-flex flex-wrap p-5">
        <% game.forEach((elem) => { %>
        <div class="row">
          <div class="col w-5">
            <img 
              src="/images/<%= elem.cover %>" 
              class="" 
              alt="..."            
            > 
            <div class="game-text text-center bg-dark">
            <p>Publicado por:  
              <a class="text-info" href="/user/userX/<%= elem.user_id %>"> 
                USUARIO <%=  %>
              </a> 
            </p>
            </div>
          </div>
        </div>        
        <% }); %>
      </div>
      </section>

    
    </main>

    <%- include('modules/footer.ejs') %>
    <%- include('modules/links.ejs') %>
  </body>
</html>
