<!DOCTYPE html>
<html>
  <head>
    <title>GAMEVIEWS</title>

    <%- include('modules/headlink.ejs') %>

    <link rel="stylesheet" href="/stylesheets/index.css" />

  </head>
  <body>
    <%- include('modules/header.ejs') %>

    <main class=" tomorrow-regular">
    <section class="carrousel d-flex justify-content-center"> 
        <div
          class="carousel slide" 
          data-bs-ride="carousel"
          data-bs-interval="2500"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://64.media.tumblr.com/4b231c144d487b045939f243ef343e02/tumblr_n5mgqwAZtR1tazzs4o1_500.gif"
                class="d-block w-100 bg-black"
                alt="..."
              >
              <div class="carousel-caption d-none d-md-block">
                <h2>SKYRIM</h2>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://giffiles.alphacoders.com/863/8633.gif"
                class="d-block w-100 bg-black"
                alt="..."
              >
              <div class="carousel-caption d-none d-md-block">
                <h2>DESTINY</h2>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://giffiles.alphacoders.com/139/13905.gif"
                class="d-block w-100"
                alt="..."
              >
              <div class="carousel-caption d-none d-md-block">
                <h2>LEAGUE OF LEGENDS</h2>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZzY1em94azFqa3ZjeGE3am5zN3I2MHZsNjBqZ2RuNnRmbXhkbzhiZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pfRPCkuhXyyvQ8Tpjf/giphy.gif"
                class="d-block w-100"
                alt="..."
              >
              <div class="carousel-caption d-none d-md-block">
                <h2>HALO</h2>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbzZ3N3JwYmh6dXZjajc3MHVjOGhiZ3J5amRiYXV4aHlzbGJxZm5ocSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Qm9DTI1iz1nMq5wkZ2/giphy.gif"
                class="d-block w-100"
                alt="..."
              >
              <div class="carousel-caption d-none d-md-block">
                <h2>ASSASSINS CREED: UNITY</h2>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-users">
        <h2 class="text-center bg-dark bg-gradient p-4">USUARIOS</h2>      
      <div class="d-flex flex-wrap p-5 justify-content-center" style="gap: 3rem;">
        <!-- FOR EACH -->
        <% user.forEach((elem) => { %>
         <div class="profile">
        <div class="pad p-3">
        <div 
          class="card mb-3 bg-gradient bg-black text-white">                    
          <div class="row g-0">
            <div class="col-4">
              <img 
                src="/images/users/<%= elem.avatar?elem.avatar:'briar.jpg' %>" 
                class="img-fluid img-expand" 
                alt="..."
              >
            </div>
              <div class="col-8 px-4 pt-4">
                  <h3 class="card-title"><%= elem.name %></h3>
                  <div>
                  <p class="card-text"><q><%= elem.bio %></q></p>
                  
                  </div>
                  <div class="pt-2 d-flex ">
                  <p class="px-1"
                  >Reviews: <span class="text-warning"><%= elem.reviews %></span></p> 
                  <button 
                  onclick="window.location.href='/user/userX/<%= elem.user_id %>'"
                  class="btn btn-outline-warning mx-auto">Ver perfil
                </button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
        
        
       
        <% }); %>

      </div>
      </section>

    
    </main>

    <%- include('modules/footer.ejs') %>
    <%- include('modules/links.ejs') %>
  </body>
</html>
