<!DOCTYPE html>
<html>
  <head>
    <title>GAMEVIEWS</title>
    <%- include('modules/headlink.ejs') %>
    
    <link rel="stylesheet" href="/stylesheets/form.css" />

  </head>
  <body>
    <%- include('modules/header.ejs') %>

    <main class=" tomorrow-regular">
      <section>
        <h1 class="text-center p-3 bg-dark bg-gradient text-white">Comparte una review</h1>
        <br>
        <div class="form-div bg-secondary container-fluid">
          <form 
            action="/game/share" 
            method="post" 
            enctype="multipart/form-data"
            class="text-black fs-5"
          >
          <div>
            <label for="">Usuario</label>
            <br>
            <select name="user_id" id="" required>
              <option disabled selected>Selecciona un usuario</option>
            <!-- FOR EACH -->
             <% user.forEach((elem) => { %> 
              <option value="<%= elem.user_id %>"> <%= elem.name %></option>
            <% }) %>
            </select>
          </div>                               
            <div>
              <label 
                for="title" 
                class="text-black"
                >Título del juego
              </label>
              <br>
              <input 
                type="text" 
                id="title"
                name="title"
              >                    
              </div>              
              <div>        
              <label for="" class="pt-2">Valoración</label>
              <input type="number" min="1" max="5" name="rating" id="rating">
              </div>
              <div>
              <label 
                for="platform" 
                class="text-black"
                >Plataforma
              </label>
              <select 
                name="platform" 
                id="platform" 
                placeholder="Selecciona una plataforma" 
                >
                <option disabled selected>Selecciona una plataforma</option>
                <option value="PlayStation">PlayStation</option>
                <option value="PC">PC</option>
                <option value="Nintendo">Nintendo</option>
                <option value="Juegos de mesa">Juegos de mesa</option>
              </select>                   
              </div>
              <div>
              <label for="" class="pt-2">Año de publicación</label>
              <br>
              <input 
                type="text" 
                id="release_year"
                name="release_year"              
              >
              </div>
              <div>
              <label for="" class="pt-2">Review</label>
              <br>
              <textarea 
                type="text" 
                name="review"
                id="review"
              ></textarea>              
            </div>
            <div class="pt-1 pb-3 d-flex" style="gap:1rem;">
              <label for="file" class="button btn btn-warning">Portada
                <input type="file" id="file" hidden name="img">
              </label>
              
              <div class="text-warning">
                <%= message %>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-info">Enviar</button>
              <button class="btn btn-info" type="reset">Limpiar</button>
              <a href="/" class="btn btn-info">Cancelar</a>
            </div>
          </form>
          </div>
      </section>
      <div class="p-3"></div>
    </main>
    <%- include('modules/links.ejs') %>
    <%- include('modules/footer.ejs') %>
    
  </body>
</html>