<!DOCTYPE html>
<html>
  <head>
    <title>GAMEVIEWS</title>
    <%- include('modules/headlink.ejs') %>

    <link rel="stylesheet" href="/stylesheets/form.css" />

  </head>
  <body>
    <%- include('modules/header.ejs') %>

    <main class="tomorrow-regular">
      <section>
        <h1 class="text-center p-3 bg-dark bg-gradient text-white">Edita tu perfil</h1>
        <br>
        <div class="form-div bg-secondary container-fluid">
          <form 
            action="/user/userEdit/<%= userToEdit.user_id %>" 
            method="post" 
            class="text-black fs-5"
            enctype="multipart/form-data"
          >
            <div>
              <label for="" class="pt-2">Nombre de usuario</label>
              <input 
                for="" 
                type="text"
                name="name" 
                value="<%= userToEdit.name %>"
              >
            </div>
              <div>
              <label for="" class="pt-2">Bio</label>
              <br>
              <textarea 
                type="text" 
                name="bio"
                value="<%= userToEdit.bio %>"
              ><%= userToEdit.bio %>
            </textarea>              
            </div>
            <div class="pt-3 pb-3">
              <label for="file" class="button btn btn-warning">Avatar
                <input 
                  type="file" 
                  id="file" 
                  hidden
                  name="img"
                  value="<%= userToEdit.avatar %>"
                >
              </label>
            </div>
            <div class="text-center">
              <button class="btn btn-info">Aceptar</button> 
              <a href="/user/userX/<%= userToEdit.user_id %>" class="btn btn-info">Cancelar</a>
            </div>
          </form>
            </div>
      </section>
      

    
    </main>
    <%- include('modules/links.ejs') %>
    <%- include('modules/footer.ejs') %>
    
  </body>
</html>